.pokeSection{
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  // height: 70vh;

  @media (max-width: 768px) {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}