.cardsContainer{
  width: 110%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  overflow-y: auto;
  height: 70vh;

  &::-webkit-scrollbar {
    width: 6px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: var(--red); 
    border-radius: 5px;
  }
  // overflow-x: hidden;

  .cardSingle{
    margin-bottom: 1.5rem;
  }

  .imgPoke{
    width: 200px;
    height: 200px;
    background-color: red;
  }

  .cardInfo{
    margin-top: 0.7rem;

    span{
      color: var(--dark-gray);
    }

    h3{
      margin-top: 0.5rem;
      color: var(--font);
    }

    .pokeType{
      margin-top: 1rem;
      span{
        padding: 8px;
        border: 1px solid black;
        margin-right: 10px;
        border-radius: 12px;
      }
    }
  }
}