.cardsContainer{
  width: 110%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  overflow-y: auto;
  height: 70vh;

  &::-webkit-scrollbar {
    width: 6px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: var(--red); 
    border-radius: 5px;
  }
  // overflow-x: hidden;

  .cardSingle{
    margin-bottom: 1.5rem;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .imgPoke{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .iconHeart{
      position: absolute;
      right: 10px;
      top: 10px;

      svg{
        display: none;
        width: 20px;
        height: 20px;

        &.isFavorite{
          display: block;
        }
      }
    }

    img{
      width: 150px;
      height: 150px;
    }

    &:hover{
      .iconHeart svg{
        opacity: 0.5;
        display: block;
      }
    }
  }

  .cardInfo{
    margin-top: 0.7rem;

    span{
      color: var(--dark-gray);
    }

    h3{
      margin-top: 0.5rem;
      color: var(--font);
    }

    .pokeType{
      margin-top: 1rem;
      span{
        padding: 8px;
        margin-right: 10px;
        border-radius: 12px;
        color: white;
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    height: 100%;
  }
}