.searchContainer{
  max-width: 1300px;
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .inputSearch{
    width: 100%;
    input{
      border-radius: 18px;
      background-color: var(--light-gray);
      outline: none;
      width: 60%;
      border: 0;
      padding: 10px 12px;
    }

    svg{
      margin-left: -2rem;
      cursor: pointer;
      color: var(--red);
    }

    .clearButton{
      border: 1px solid var(--red);
      margin-left: 1.5rem;
      padding: 5px 8px;
      border-radius: 12px;
      background-color: transparent;
      color: var(--font);

      &:hover{
        background-color: var(--red);
        color: white;
      }
    }

    @media (max-width: 768px) {
      margin: 0 auto;
      text-align: center;
      flex-direction: column;
      margin-bottom: 2rem;
    }
  }

  .filterSearch{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;

    span{
      color: var(--dark-gray);
    }

    select{
      margin-left: 1rem;
      padding: 8px 12px;
      border-radius: 20px;
      outline: none;
      color: var(--red);
      border: 1px solid var(--red);
    }

    @media (max-width: 768px) {
      width: 100%;
      margin: 0 auto;
      flex-direction: column;
    }
  }

  @media (max-width: 768px) {
    max-width: 1300px;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}